form{
    width: 30%;
    margin: 0 auto;
}

form a img{
    width: 350px;
}

.upload p{
    display: inline-block;
}

button{
    padding: .5% 5% .5% 5%;
}

.search p, .search a{
    display: inline-block;
}

input[type="search"]{
    width: 30%;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
}

.search img{
    vertical-align: middle;
    width: 6.5%;
    margin-bottom: 3%;
}
