body{
    font: 24px Comic Sans;
}

table{
    border: 1px solid black;
    width: 18%;
}

table tr, table th, table td{
    border: 1px solid black;
}

table td{
    font: 1.4em Comic Sans;
    margin: 1px 1px 1px 1px;
    text-align: center;
    font-weight: bold;
    width: 25%;
}

th input{
    width: 97%;
    padding: 11% 5% 2% 0;
    margin: -4px 0 -2px -5px;
    color: white;
    background: rgb(32, 32, 32);
    font: 1.4em Comic Sans;
    text-align: right;
}

td button{
    width: 100%;
    font: 1em Comic Sans;
    color: black;
    background: rgba(163, 163, 163, 0.70);
    padding: 13% 0 13% 0;
    margin: 0 0;
}

td:nth-of-type(4) button{
    background: rgb(247, 140, 24);
}