body{
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 14px;
}

.mainWrapper{
    width: 55%;
    height: 430px;
    margin: 0 auto;
    background: rgb(238, 238, 238);
}

header{
    padding: 1% 2%;
}

header h1{
    color: #234465;
}

header p{
    color: #595959;
}

section{
    padding: 0 3%;
    display: inline-flex;
}

fieldset{
    border: none;
}

.reg, .log{
    width: 50%;
    height: 285px;
}

.reg legend{
    color: #5A5A5A;
    font: bolder 1.2em Tahoma;
    width: 80%;
    margin-bottom: 1%;
}

.reg legend span{
    color: #234465;
    margin-left: 3%;
}
input{
    width: 95%;
    height: 35px;
    margin-bottom: 4%;
    padding-left: 3%;
}

.btnReg{
    background: rgba(0, 0, 0, 0);
    border: 2px solid #234465;
    width: 50%;
    height: 45px;
    float: right;
    margin-right: 1%;
    color: #234465;
    font: 1.4em Tahoma;
}

.btnReg:hover{
    background: #234465;
    border: 3px solid #234465;
    width: 50%;
    height: 45px;
    float: right;
    margin-right: 1%;
    color: white;
    font: 1.4em Tahoma;
}

.log{
    background: #234465;
}

.log legend{
    color: white;
    font: bolder 1.2em Tahoma;
    width: 80%;
    margin-bottom: 1%;
    padding-top: 3%;
}

.log legend span{
    margin-left: 3%;
}

.btnLog{
    background: rgba(0, 0, 0, 0);
    border: 2px solid orange;
    width: 45%;
    height: 45px;
    float: right;
    margin-right: 1%;
    color: white;
    font: 1.4em Tahoma;
}

.btnLog:hover{
    background: orange;
    border: 3px solid orange;
    width: 45%;
    height: 45px;
    float: right;
    margin-right: 1%;
    color: white;
    font: 1.4em Tahoma;
}

.log legend{
    margin-bottom: 3%;
}

.log input[type="checkbox"]{
    width: 20px;
	height: 20px;
    margin-left: 0;
    margin-top: 0;
	float: left;
}

label{
    color: white;
    font-size: .9em;
}

.log a{
    color: white;
    margin-left: 65%;
    font-size: .9em;
    text-decoration: underline;
}

input:{
    background-color: red;
}